.range-input {
    width: 90%;
    height: 25px;
    position: relative;

    padding: 5px;
}

.range-input .bar {
    width: 100%;
    height: 100%;

    position: relative;
}

.range-input .start, .range-input .end {
    width: 50px;
    height: 100%;

    color: white;
    border-radius: 100px;

    display: inline-block;

    position: absolute;
    z-index: 3;

    cursor: col-resize;
    user-select: none;

    background-color: #053a86;
}

.range-input .start {
    left: 0;
}

.range-input .end {
    left: 100%;
    transform: translateX(-100%);
}

.range-input .parent {
    height: calc(100% - 7px);
    background-color: #053a86;

    display: inline-block;
    position: absolute;
    top : 50%;

    transform: translateY(-50%);
}