.team-list {
    width: 100%;

    padding: 12px;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.team-list li {
    list-style: none;

    padding: 12px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #dcffcb;
    user-select: none;
}

.team-list li.selected {
    background-color: #93fd67;
}

.team-list .logo {
    width: 60px;
}

.team-list .name {
    margin-top: 8px;
    font-weight: 800;
}
