* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #151515;
}

body {
  height: 100vh;
}

#root, .App {
  height: 100%;
}

.App {

}

.year-selector-wrap {
  background-color: #f00;
  width: 100%;
  height: 30px;

  padding: 4px;

  position: relative;
}

.arrow {
  height: calc(100% - 8px);

  display: inline-block;
  cursor: col-resize;

  position: absolute;
  z-index: 2;
}

.year-start {

}

.year-end {

}

.year-bar {
  height: calc(100% - 8px);
  background-color: #00f;

  border-radius: 10px;

  display: inline-block;
  position: absolute;
}